<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="informationRoom()">
      <ion-icon style="color:#fff" name="information"></ion-icon>
    </ion-button>
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button> 
    <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">

  <div *ngIf="room">
    <ion-card *ngFor="let mensaje of room.messages" 
    color="secondary">
     <ion-card-content>
        {{mensaje.content}} - {{mensaje.userName}}
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea > 
    <ion-button color="success" (click)="sendMessage()"> 
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>