<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register">
  
  <img class="icon" src="assets/icon/wave2.png" >

  <ion-item style="opacity: 70%;">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>
  <br>
  <ion-item style="opacity: 70%;">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <br>
  <ion-item style="opacity: 70%;">
    <ion-label position="floating">contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <!--ion-item>
    <ion-label position="floating">confirmar contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </!--ion-item-->
  <br>
  <div text-center>
  <ion-button shape="round" (click)="onSubmitRegister()">Registrarse</ion-button>
  </div>
  <br>
  <p text-center routerLink="/login" style="color:white">ya tengo cuenta</p>
</ion-content>