<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="closeCreate()">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button> 
    <ion-title>Crear sala privada</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <div style="width: 100%; text-align: center; padding-bottom: 1ch; padding-top: 3ch;">
      <img *ngIf="url_img" style="border-radius:50%" src="{{url_img}}">
    </div>
  </ion-item>  

  <form (ngSubmit)="onCreate()" [formGroup]="FormularioChat" >
    
    <ion-list>  
      <ion-item>
        <ion-label position="floating">Nombre de la sala</ion-label>
        <ion-input formControlName="nameChat" inputmode="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">descripcion</ion-label>
        <ion-input formControlName="description" inputmode="text"></ion-input>
      </ion-item>

      <ion-item>  
        <ion-label position="floating">clave de acceso</ion-label>
        <ion-input formControlName="password"  inputmode="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion URL de la imagen:</ion-label>
        <ion-input [(ngModel)]="url_img" inputmode="text" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-button [disabled]="!FormularioChat.valid" type="submit">entrar</ion-button>    
    </ion-list>  
</form> 
</ion-content>
