<ion-header>
  <ion-toolbar color="primary">
    <!--ion-button slot="end" fill="clear" (click)="informationRoom()">
        <ion-icon style="color:#fff" name="information"></ion-icon>
      </ion-button--> 
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button> 
    <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<div *ngIf="!permition" class="privatechat" color="primary">  
   <ion-card> 
     <ion-list>
      <div text-center >
        <ion-label position="floating" >debe ingresar la clave de seguridad para poder entrar a esta sala</ion-label>
      </div>
        <ion-input [(ngModel)]="ngclave" type="password">Clave:</ion-input>
      </ion-list>
      <ion-item>
         <ion-button (click)="Entrar()">Entrar</ion-button>
      </ion-item>
    </ion-card>
</div>


    <ion-content padding  color="primary">

    <div *ngIf="permition">
        <ion-card *ngFor="let mensaje of room.messages" color="secondary">
            <ion-card-content>
              <b>{{mensaje .userName}} :</b>
              {{mensaje.content}} 
            </ion-card-content>
        </ion-card>
    </div>

    </ion-content>

    <ion-footer>
    <ion-item>
        <ion-textarea [disabled]=showdiv  [(ngModel)]="msg"></ion-textarea> 
        <ion-button color="success" (click)="sendMessage()"> 
        <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-item>
    </ion-footer>

