<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false" slot="end" fill="clear" (click)="presentActionSheet()"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-list *ngIf = "!filtrado" >
     <ion-card color="primary"> 
       <ion-title>salas publicas</ion-title>
      <ion-item *ngFor = "let chat of chatRooms" (click)="openChat(chat)"> 
        <ion-avatar slot="start">
          <ion-img [src]="chat.url_img"></ion-img>    
        </ion-avatar>  
        <ion-label>
          <h2><b>{{chat.name}}</b></h2>
          <p>{{chat.description}}</p>
        </ion-label>
      </ion-item> 
    </ion-card>
  </ion-list>
  <ion-list *ngIf = "!filtrado" >
    <ion-card color="secondary">
      <ion-title >salas privadas</ion-title>   
    <ion-item *ngFor = "let chat of chatPrivateRooms" (click)="openPrivateChat(chat)"> 
      <ion-avatar slot="start">
        <ion-img [src]="chat.url_img"></ion-img>    
      </ion-avatar>  
      <ion-label>
        <h2><b>{{chat.name}}</b></h2>
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-list>
<!--ion-button (click)="onlogout()">desconectarse</!--ion-button-->
<ion-list *ngIf="filtrado">
  <ion-card color="primary">
  <ion-title>salas publicas</ion-title>
 <ion-item *ngFor = "let chat of myPublicRooms" >   
  <ion-avatar slot="start">
    <ion-img [src]="chat.url_img"></ion-img>    
  </ion-avatar>
  <ion-grid (click)="openChat(chat)">
    <ion-row>
  <ion-label>
    <h2><b>{{chat.name}}</b></h2>
    <p>{{chat.description}}</p>
  </ion-label>
</ion-row>
</ion-grid>
  <ion-button position="floating" slot="end" style="margin-left: 2px;" fill="clear" (click)="editPublicChat(chat)">
    <ion-icon style="color:red" name="menu"></ion-icon>
  </ion-button>
</ion-item>
</ion-card>
</ion-list>

<ion-list *ngIf="filtrado">
  <ion-card color="secondary" >
    <ion-title >salas privadas</ion-title>
  <ion-item *ngFor = "let chat of myPrivateRooms" > 
    <ion-avatar slot="start">
      <ion-img [src]="chat.url_img"></ion-img>    
    </ion-avatar>
    <ion-grid (click)="openPrivateChat(chat)">
      <ion-row>
    <ion-label>
      <h2><b>{{chat.name}}</b></h2>
      <p>{{chat.description}}</p>
    </ion-label>
  </ion-row>
  </ion-grid>
    <ion-button slot="end" fill="clear" (click)="editChat(chat)">
      <ion-icon style="color:red" name="menu"></ion-icon>
    </ion-button>
  </ion-item></ion-card>
  <div text-center>
    <ion-button (click)="mis()" shape="round" >listo</ion-button>
    </div>
</ion-list>
</ion-content>