<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:#fff" name="menu"></ion-icon>
    </ion-button>
    <ion-label></ion-label>

    <ion-checkbox (click)="mis()"></ion-checkbox>
    <ion-label>Filtrar mis salas</ion-label>
    <ion-title text-center>
      Ionic Blank
    </ion-title >
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list *ngIf = "!filtrado">
      <ion-item *ngFor = "let chat of chatRooms" (click)="openChat(chat)"> 
        <ion-avatar slot="start">
          <ion-img [src]="chat.url_img"></ion-img>    
        </ion-avatar>  
        <ion-label>
          <h2><b>{{chat.name}}</b></h2>
          <p>{{chat.description}}</p>
        </ion-label>
      </ion-item>
  </ion-list>
  <ion-list *ngIf = "!filtrado" >
    <ion-item *ngFor = "let chat of chatPrivateRooms" (click)="openPrivateChat(chat)"> 
      <ion-avatar slot="start">
        <ion-img [src]="chat.url_img"></ion-img>    
      </ion-avatar>  
      <ion-label>
        <h2><b>{{chat.name}}</b></h2>
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
</ion-list>
<!--ion-button (click)="onlogout()">desconectarse</!--ion-button-->


<ion-list *ngIf="filtrado">
  salas privadas filtradas
  <ion-item *ngFor = "let chat of myPrivateRooms" > 
    <ion-avatar slot="start">
      <ion-img [src]="chat.url_img"></ion-img>    
    </ion-avatar>
    <ion-grid (click)="openPrivateChat(chat)">
      <ion-row>
    <ion-label>
      <h2><b>{{chat.name}}</b></h2>
      <p>{{chat.description}}</p>
    </ion-label>
  </ion-row>
  </ion-grid>
    <ion-button slot="end" fill="clear" (click)="editChat(chat)">
      <ion-icon style="color:red" name="menu"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>

<ion-list *ngIf="filtrado">
 salas públicas filtradas
 <ion-item *ngFor = "let chat of myPublicRooms" >   
  <ion-avatar slot="start">
    <ion-img [src]="chat.url_img"></ion-img>    
  </ion-avatar>
  <ion-grid (click)="openChat(chat)">
    <ion-row>
  <ion-label>
    <h2><b>{{chat.name}}</b></h2>
    <p>{{chat.description}}</p>
  </ion-label>
</ion-row>
</ion-grid>
  <ion-button position="floating" slot="end" style="margin-left: 2px;" fill="clear" (click)="editPublicChat(chat)">
    <ion-icon style="color:red" name="menu"></ion-icon>
  </ion-button>
</ion-item>
</ion-list>
  
  

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="createRoom()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <br><ion-fab-button size="big" color="dark" (click)="createPrivateRoom()">
    <ion-icon name="lock"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>